
.wrap { 
	//margin-right:auto; 
	min-width:700px;
	//margin-left:auto;  
	padding:20px;
	border:1px solid #999;
	background-color:#EEE; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;  
}
.col-main { 
	float:left; 
	width:100%;  
}
.main-wrap {
	margin-left:220px;  
	margin-right:140px; 
	background:#fff;  
	padding:20px;
	border:1px solid #999;
}
.left { 
	float:left; 
	width:200px; 
	background:#fff; 
	margin-left:-100%;  
	padding:20px;
	border:1px solid #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}
.right { 
	float:left; 
	width:120px; 
	background:#fff; 
	margin-left:-120px;  
	padding:20px;
	border:1px solid #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.name{
	float:right;
	width:58px;
	padding:0;
	font-size:0.9em;
	font-weight:normal;
	margin:0
}
.logo1{
	float:left;
	margin-right:20px;
} 
.logo2{
	margin-bottom:20px;
}
.logo1,.logo2,.logo3{
	width:80px;height:80px; 
	background-color:#EEE; 
	border:1px solid #999; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img{
	width:78px;
	height:78px;

}